/* GENERAL */

html {
    font-family: 'Open Sans';
}

body {
    background: #f7f7f7;
    min-height: 900px;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    font-family: 'Open Sans';
}

a:hover {
    color: #3e3e3e;
}

h2 {
    margin-top: 0;
}

input {
    outline: none;
    background: #f7f7f7;
}

input:focus {
    border-bottom: 2px solid black;
    font-weight: 500;
}

.avatar {
    width: 100px;
    height: 100px;
    background-image: url('http://vignette4.wikia.nocookie.net/joke-battles/images/5/5a/Black.jpg/revision/latest?cb=20161223050425');
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.padding-medium {
    padding: 16px;
}

.padding-horizontal-medium {
    padding-left: 16px;
    padding-right: 16px;
}

.margin-horizontal-auto {
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

.margin-top-large {
    margin-top: 50px;  
}

.margin-top-medium {
    margin-top: 30px;
}

.margin-top-small {
    margin-top: 20px;
}

.gradient {
    background: linear-gradient(to right bottom, transparent, rgb(0, 0, 0));
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.time {
    position: absolute;
    right: 0;
    top: 10px;
}

.position-relative {
    position: relative;
}

/* LOGIN */
/* login/register-form.php + action/showsettings.php */

.register input {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.register input[type='submit'] {
    border: none;
}

.register {
    text-align: left;
    padding: 120px 70px
}

.colors input {
    display: none;
}

.colors input + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.colors input:checked + label span {
    border: 5px solid black;
}

.colors input + label span, .colors input:checked + label span {;
    transition:border 0.4s linear;
    margin-bottom: 4px;
}

.horizontal-margin-small {
    margin: 0 10px;
}

.vertical-margin-small {
    margin: 10px 0;
}

/* login/login-form.php */

.login input {
    display: inline;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
}

.login input[type='submit'] {
    border: none;
}

.login {
    text-align: left;
    padding: 255px 70px
}

.light-gray {
    background-color: #ededed;
}

/* login/login-form.php + login/register-form.php */

.alertpanel {
    position: relative;
    padding: 10px;
    left: 10px;
}

/* SIDEPANEL */
/* sidepanel/messages-tab.php    ??? dat do sebe ???    */

.vertical-padding-large {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* sidepanel/sidepanel.php */

.left-thick-border {
    border-left: 20px solid black;
}

.border-darker-gray {
    border-color: #1b1b1b;
}

.border-dark-gray {
    border-color: #353535;
}

/* OTHER */
/* profile.php */

.big-avatar {
    width: 300px;
    height: 300px;
    margin: auto;
    top: 50px;
    position: relative;
}

span.profile {
    display: block;
    font-size: 2em;
    position: relative;
    top: 95px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height-200 {
    height: 200px;
}

.height-100 {
    height: 100px;
}

.line-height-200 {
    line-height: 200px;
}

/* action/showconversation.php */

.margin-bottom-small {
    margin-bottom: 16px;
}

.message-modal {
    margin: 20px;
    padding: 20px 30px;
    border-radius: 30px;
}

.sender {
    background: #EEE;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    display: table;
}

.recipient {
    background: #bcbcbc;
    margin-left: 0;
    margin-right: auto;
    display: table;
}

#modal textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
    outline: none;
    padding: 10px;
}

#modal input {
    width: 100%;
    background-color: deepskyblue;
    color: white;
    border: 0;
    margin: 10px 0;
    padding: 10px;
    font-weight: 700;
}

/* other/logo.php */

.logo a {
    font-family: 'Pacifico';
    height: 80px;
    line-height: 80px;
}

/* other/footer.php */

.footer h1 {
    font-family: 'Pacifico';
}

/* other/menu.php */

.darker-gray {
    background-color: #1b1b1b;
}

.dark-gray {
    background-color: #353535;
}
